<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.schedule.mapper.SchItemSupervisionMapper">
    
    <resultMap type="SchItemSupervision" id="SchItemSupervisionResult">
        <result property="itemId"    column="item_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="predictStartTime"    column="predict_start_time"    />
        <result property="predictDurationTime"    column="predict_duration_time"    />
        <result property="lastingTime"    column="lasting_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSchItemSupervisionVo">
        select item_id, item_name, predict_start_time, predict_duration_time, lasting_time, create_by, create_time, update_by, update_time, remark from sch_item_implement
    </sql>


    <select id="selectSchItemSupervisionList" resultMap="SchItemSupervisionResult">
        <include refid="selectSchItemSupervisionVo"/>
        <where>  
            <if test="schItemSupervision.itemName != null  and schItemSupervision.itemName != ''"> 
                and item_name like concat('%', #{schItemSupervision.itemName}, '%')
            </if>
            <if test="username != null and username != ''">
                and create_by = #{username}
            </if>
        </where>
    </select>
    
    <select id="selectSchItemSupervisionByItemId" parameterType="Long" resultMap="SchItemSupervisionResult">
        <include refid="selectSchItemSupervisionVo"/>
        where item_id = #{itemId}
    </select>
        
    <insert id="insertSchItemSupervision" parameterType="SchItemSupervision">
        insert into sch_item_implement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">item_id,</if>
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="predictStartTime != null">predict_start_time,</if>
            <if test="predictDurationTime != null">predict_duration_time,</if>
            <if test="lastingTime != null">lasting_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">#{itemId},</if>
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="predictStartTime != null">#{predictStartTime},</if>
            <if test="predictDurationTime != null">#{predictDurationTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSchItemSupervision" parameterType="SchItemSupervision">
        update sch_item_implement
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="predictStartTime != null">predict_start_time = #{predictStartTime},</if>
            <if test="predictDurationTime != null">predict_duration_time = #{predictDurationTime},</if>
            <if test="lastingTime != null">lasting_time = #{lastingTime}.</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where item_id = #{itemId}
    </update>

    <delete id="deleteSchItemSupervisionByItemId" parameterType="Long">
        delete from sch_item_implement where item_id = #{itemId}
    </delete>

    <delete id="deleteSchItemSupervisionByItemIds" parameterType="String">
        delete from sch_item_implement where item_id in 
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>

    <select id="getItemByName" resultType="java.lang.Long">
        SELECT item_id FROM sch_item_infor WHERE item_name = #{itemName}
    </select>
</mapper>